<html>
    <head>
    <title>Yahtzee+</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
    <style>

    </style>

    <body> <h1>Yahtzee+</h1> 
        <a href='/start'> <button type='button'> <img src='/five_dice.png' alt='image' /> </button></a><br>
        <br>
        <input type="text" name="player_1" placeholder="Player 1 Name">
        <input type="text" name="player_2" placeholder="Player 2 Name">
    </body>
</html>