<html>
    <head>
    <title>Yahtzee</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    </head>

    <body> <h1>Welcome to yahtzee!</h1> 
    
        <h2> Player 1 Starts first: </h2> 
        <div class='box'><img src='/five_dice.png' alt='image' /></div>
    </body>
</html>